
#leftbox{
    background-color: lightgrey;
    margin-top: 55px;
}

.row h1{
    margin-top: 30px;
    /* margin-left: 250px; */
    margin-bottom: -20px;
    text-align: center;
}

#topnav{
    background-color: blue;
    height: 50px;
    text-align: center;
}

#search{
    margin-top: 30px;
    margin-bottom: 20px;
}

#rightbox{
    margin-left: 10px;
    margin-top: 15px;
}

#newpostbtn{
    margin-bottom: 15px;
}

.card{
    background-color: lightgrey;
    margin-bottom: 15px;
}

.lastupdate{
    margin-left: 330px;
}

.lastupdate2{
    margin-left: 260px;
}

#image1{
    width: 330px;
    height: 230px;
    margin-left: 66px;
}

#image2{
    width: 330px;
    height: 230px;
    margin-left: 10px;
}

#country{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

#country1{
    background-color: lightblue;
    margin-left: 20px;
    text-align: center;
}

#country2{
    background-color: lightblue;
    margin-left: 20px;
    text-align: center;
}

#country3{
    background-color: lightblue;
    margin-left: 11px;
    margin-top: 10px;
    text-align: center;
}

#profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

h5{
    margin-left: 65px;
}

.card-text{
    margin-left: 65px;
}

#link{
    margin-left: 65px;
}
