.hero {
    width: 100%;
    height: calc(100vh - 70px);
    font-family: var(--roboto);
    display: flex;
    align-items: stretch;
    padding: 50px 8% 20px 8%;
    border-top: solid 1px #cfcfcf;
    background: var(--light-grey);
    /* background-image: url("bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

}

.title {
    font-family: var(--roboto);
    font-weight: bold;
    font-size: 2em;
    width: 20ch;
}

.box {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 90%;
    background: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-title {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}


.task {
    background: var(--light-grey);
    display: flex;
    flex-direction: row;
    height: 25%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
    align-items: center;
    padding-left: 18px;
    cursor: pointer;
}

.task:hover {
    background: rgba(192, 192, 178, 0.527);
    transition: ease-in-out .3s;
}

.icon {
    background: white;
    padding: 4px;
    border-radius: 50%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
    
}

.find {
    font-size: 18px;
}

.right {
    margin-left: 18px;
}

.task-text {
    font-size: 20px;
    color: var(--crimson);
}

.task-subtitle {
    margin-top: 3px;
    font-size: 13px;
    color: rgb(145, 145, 145);
}

.progress-bar {
    display: flex;
    flex: row;
    justify-content: space-between;
}

progress {
    width: 93%;
}

.task-done {
    background: rgba(188, 245, 198, 0.527);
    cursor: default;
}
.task-done:hover{
    background: rgba(188, 245, 198, 0.527);
}

@media screen and (max-width: 798px){
    .hero {
        display: flex;
        flex-direction: column;
    }

    .title {
        margin-bottom: 30px;
    }

    .pencil {
        display: none;
    }

    .stroke {
        display: none;
    }
}


.nav-items a:after{
    bottom: -26px;
}

.pencil {
    position: fixed;
    bottom: 17vh;
    right: 2vh;
    max-height: 60vh;
    transform: rotate(-25deg)
}

.stroke {
    position: fixed;
    bottom: 0;
    right: 43vh;
}

body {
    overflow: hidden;
}