* {
    font-family: var(--roboto);
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--light-grey);
}

::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

/*PART 1 START*/

.part-1 {
    width: 100%;
    height: calc(100vh - 64px);
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgb(248, 34, 87, .1)), linear-gradient(to right, rgba(28, 26, 27, .7), rgba(28, 26, 27, .01)), url('img/homepage_3.jpg');
    background-size: cover;
    background-position: right;
    margin: 0;
    padding: 100px;
}

.part-1 h2 {
    color: white;
    font-size: 4em;
    font-weight: 500;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

.part-1 .find-out {
    color: white;
    padding: 10px 20px;
    background: rgba(255, 68, 96, 255);
    border-radius: 4px;
    font-size: 18px;
    text-decoration: none;
}

.email {
    text-decoration: none;
    margin-right: 10vw;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: var(--crimson);
    border-radius: 5px;
}

.find-out, .email {
    transition: background 0.3s ease;
}

.email:hover, .find-out:hover {
    color: var(--tangerine);
}

/*FOR Carousel start*/


.carouselbox img {
    width: 100%;
}

#ctext {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 20;
    color: black;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

#ctext2 {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 50ch;
    text-align: center;
    padding: 20px;
    z-index: 20;
    color: black;
    background-color: rgba(255, 255, 255, 0.664);
}

/* blockquote -> class .sidekick css credits: https://codepen.io/Rases/pen/pogVVwp */
.sidekick {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 47ch;
    padding:  2rem;
    border-left: 0.2em solid  var(--crimson);
    font-size: 1.3em;
    background-color: white;
    line-height: 1.5em;
    opacity: 0.9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .6);

}

.sidekick:before, .sidekick:after {
    font-family: Calibri;
    color: var(--crimson);
    font-size: 34px;
}

.sidekick:before {
    content: '\201c';
}

.sidekick:after {
    content: '\201e'
}

.sidekick cite {
    font-size: 50%;
    text-align: center;
    top: 50%
}

.sidekick cite:before {
    content: ' \2015 '
}

#ctext3 {
    position: absolute;
    top: 28%;
    right: 45%;
    z-index: 20;
    color: black;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

#ctext4 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 20;
    color: black;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

#ctext5 {
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

/*FOR Carousel end*/

/*RESPONSIVENESS*/

@media screen and (max-width: 730px) {
    .part-1 h2 {
        font-size: 3em;
    }
    .part-1 .find-out {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .part-1 h2 {
        font-size: 2.5em;
    }
    .part-1 .find-out {
        font-size: 12px;
    }
}

/*PART 1 END*/

/*PART 2 START*/

.part-2 {
    width: 100%;
    height: auto;
    padding: 150px 20%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('img/homepage_2.png');
    background-size: cover;
    background-position: bottom;
}

.title {
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 2px;
}

.part-2 .number {
    font-weight: 900;
    font-size: 13em;
    background: linear-gradient(to right, var(--crimson), var(--tangerine));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block
}

@media screen and (max-width: 730px) {
    .part-2 .number {
        font-weight: 800;
        font-size: 10em;
    }
}

/*PART 2 END*/

/*PART 3 START*/

.part-3 {
    width: 100%;
    height: auto;
    padding: 5% 10%;
}

.part-3 .top {
    text-align: center;
    margin-bottom: 80px;
}

.part-3 .step-1 {
    display: flex;
    justify-content: space-between;
}

.part-3 .step-1 .left {
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}

.part-3 .step-1 .right {
    width: 50%;
}

.part-3 .subtitle {
    color: rgb(131, 131, 131);
    margin-bottom: 15px;
}

.part-3 p {
    font-size: 15px;
    color: rgb(82, 82, 82);
    width: 90%;
    margin-top: 15px;
}

.icon {
    width: 60px;
    margin-bottom: 20px;
}

.right-img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-left: 10%;
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgb(248, 34, 87, .15)), url('img/melbourne.jpg');
    background-size: cover;
}

.step-2 {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}

.step-2 .left {
    width: 50%;
    padding-left: 10%;
}

.step-2 .right {
    width: 50%;
    margin-left: 10%;
    padding-right: 10%;
}

.left-img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgb(248, 34, 87, .15)), url('img/step2.jpg');
    background-size: cover;
    background-position: left -40px bottom;
}

.right-img-2 {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-left: 10%;
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgb(248, 34, 87, .15)), url('img/step3.jpg');
    background-size: cover;
}

.step-3 {
    margin-top: 140px;
}

.left-img-2 {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(rgba(100, 100, 100, 0.5), rgb(248, 34, 87, .15)), url('img/seoul.jpg');
    background-size: cover;
    background-position: left -50px bottom;
}

.step-4 {
    margin-bottom: 140px;
}

@media screen and (max-width: 950px) {
    .part-3 {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .step-1 {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .step-2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }
    .left {
        padding: 0px;
        margin: 0px;
    }
    .right {
        padding: 0px;
        margin: 0px;
    }
    .step-3 {
        margin-top: 100px;
    }
    .icon {
        display: none;
    }
    .title {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .subtitle {
        padding-top: 20px;
        width: 100%;
        margin: 0;
    }
    .part-3 p {
        width: 100%;
    }
    .right-img-2, .step-2 .right, .step-2 .left, .right-img, .part-3 .step-1 .left {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

/*Go to top button start*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--crimson);
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 18px;
    border: 1px solid rgb(235, 0, 0);
    opacity: 0.4;
    transition: 0.3s ease;
}

#myBtn:hover {
    opacity: 1;
}

footer {
    width: 100%;
    height: 15vh;
    background: var(--light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

footer .logo {
    font-weight: 600;
    font-size: 20px;
    color: var(--crimson);
}

footer .credit {
    font-size: 12px;
    color: var(--grey);
}
