/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
.height-styling {
  height: 100%;
}

#map {
  height: 100%;
}

body {
  font-family: Roboto;

}

.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 300;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  padding: 10px;
  min-width: 30%;
  transition: min-width 0.7s ease;
}

.controls:focus {
  box-shadow: 0px 0px 0px 2px #4d90fe;
  min-width: 60%;
}

.title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.sidebar {
  height: 100%; 
  overflow: scroll;
}

@media only screen and (max-width: 992px) {
  .uni-info {
    height: auto;
  }

  .sidebar {
    height: initial; 
    overflow: initial;
  }

  .height-styling {
    height: 50%;
  }
  }

/* QUIZ */
/* .options button{
  display:block
}

.options{
  padding: 10px;
  order:3;
}

.controls{
  padding:10px;
  order:4;
} */

/* .score{
  font-size: large;
  font-weight: bold;
} */

.text-theme-color{
  color: #F82257;
}

.border-theme-color{
  border-color: #F82257;
}

.btn-major{
  background-color: #F82257;
  color: white;
}

/* #total-score{
  color: #f6490f;
} */

/* .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

/* .btn{
  font-size: large;
  font-weight: bold;
  box-shadow: 0 6px 12px -px rgba(#f27813,.15);
  background: #ef9614;
  border-radius: 4px;
  padding: 10px;
  color: beige;
  margin: 6px;
  cursor: pointer;
} */

/* .btn:hover{
  color: black;
  padding:15px;
} */

.hide{
  display:none;
}

.list-hover:hover{
  background-color: #F9F8F7;
}

/*NAVBAR*/
a:hover{
  color: black;
}